.founded-manga-cover-and-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.founded-manga-cover {
  width: 6rem;
  height: 9.125rem;
}

.form-manga-container {
  display: flex;
  flex-direction: column;
}
