<ng-container *ngIf="selectedManga">
  <form [formGroup]="mangaForm" (ngSubmit)="onSubmit()">
    <div class="cover-rating">
      <div class="founded-manga-cover-and-rating-container">
        <div class="founded-manga-cover-container">
          <div>
            <img class="founded-manga-cover" [src]="selectedManga?.coverPictureUrl" alt="Manga cover" />
          </div>
        </div>
        <div class="founded-manga-rating-container">
          <div>
            <span i18n="Manga's rate label">Rate</span>
          </div>
          <div>
            <star-rating-control [starType]="'svg'" staticColor="ok" [hoverEnabled]="true" space="between" formControlName="rate"></star-rating-control>
          </div>
        </div>
      </div>
    </div>

    <div class="form-manga-container">
      <mat-form-field>
        <mat-label i18n="Manga form's field name mat-label">Manga's name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="Manga form's field state mat-label">Manga's state</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let status of status" [value]="status">{{ status }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="Manga form's field comments mat-label">Comments</mat-label>
        <textarea matInput formControlName="comments"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="Manga form's field readingSource mat-label">Reading source</mat-label>
        <input matInput formControlName="readingSource" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" i18n="Manga form's field submit button">Save</button>
    </div>
  </form>
</ng-container>
