/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
.manga-progress {
  display: flex;
  width: 15.875rem;
  height: 0.688rem;
  .mdc-linear-progress__bar {
    background-color: #FF75CB;
  }
  .mdc-linear-progress__bar-inner {
    border-color: #FF75CB;
  }
  .mdc-linear-progress__buffer {
    background: #14142B;
  }
}
