.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.125rem;
  justify-content: flex-end;
}

.button-add-manga {
  background-color: #610BEF;
}

.sidenav-header {
  display: flex;
  .sidenav-header-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.home-sidenav {
  padding: 0 1.875rem;
}




