.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.125rem;
  justify-content: flex-end;
}

.button-add-manga {
  background-color: #610BEF;
}

.sidenav-header {
  display: flex;
  .sidenav-header-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.home-sidenav {
  padding: 0 1.875rem;
}
.founded-manga-cover-and-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .founded-manga-cover-container {
    display: flex;
    flex-direction: column;
    margin-left: 5.89rem;
    align-items: center;
  }
  .founded-manga-rating-container {
    display: flex;
    flex-direction: column;
    margin-right: 7.78rem;
  }
}
.founded-manga-cover {
  width: 6rem;
  height: 9.125rem;
}




